.card {
    display: block;
    margin: 5px auto;
    padding-left: auto ;
}

.ingr {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

.foto {
    width: 400px;
    height: auto;
    border-radius: 20px;
}

body {
    margin-left: 80px;
    margin-right: 80px;
}


