h1 {
    text-align: center;
    font-size: 150px;
    color: burlywood;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.faixa {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    padding-right: 15px;
}

a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: burlywood;
}

body {
    background-image: radial-gradient(closest-side at 50%, rgb(249, 155, 66), #ae7037);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}